<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>PetYaya</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="./assets/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
<body>
    <div class="container mt-3">
        <form action="/edit-post/<%= post._id %>?_method=PUT" method="POST">
            <h3>Edit</h3>
            <div class="form-group">
                <input type="text" class="form-control" name="post[content]" value="<%= post.content %>">
            </div>
            <div class="form-group col-lg-12 d-flex justify-content-end gap-2 mt-4">
                <a href="/feed" class="btn btn-light">Cancel</a>
                <button type="submit" class="btn btn-brand">Update</button>
            </div>
        </form>
    </div>
</body>
</html>