/* FONTS */
@import url(../css/clash-display.css);

/* VARIABLES */
:root {
  --c-dark: #212529;
  --c-brand: hsl(353, 100%, 74%);
  --c-brand-light: hsl(0, 0%, 100%);
  --c-brand-rgb: 78, 87, 212;
  --c-body: hsl(0, 0%, 17%);
  --font-base: "Quicksand", system-ui;
  --box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.08);
  --transition: all 0.5s ease;
}

/* RESET & HELPERS */
body {
  font-family: var(--font-base);
  line-height: 1.7;
  color: var(--c-body);
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 600;
  color: var(--c-dark);
}

a {
  text-decoration: none;
  color: var(--c-brand);
  transition: var(--transition);
}

a:hover {
  color: var(--c-brand-light);
}

img {
  max-width: 100%;
  height: auto;
}

.section-padding {
  padding-top: 140px;
  padding-bottom: 140px;
}

.theme-shadow {
  box-shadow: var(--box-shadow);
}

/* IMAGE ZOOM */
.image-zoom {
  position: relative;
  /* overflow: hidden; */
}

.image-zoom-wrapper {
  overflow: hidden;
  position: relative;
}

.image-zoom-wrapper img {
  transition: var(--transition);
}

.image-zoom:hover .image-zoom-wrapper img {
  transform: scale(1.1);
}

.primary-color {
  background-color: var(--c-brand);
}

/* NAVBAR */
.navbar {
  box-shadow: var(--box-shadow);
  background-color: var(--c-brand);
}

.navbar-nav .nav-link {
  font-weight: 500;
  font-size: 20px;
  color: var(--c-dark);
}

.navbar-nav .nav-link.active {
  color: var(--c-brand-light);
}

@media (max-width: 992px) {
  .navbar-collapse {
    background-color: var(
      --c-brand
    ); /* Ensure this matches your bg-primary-color */
    text-align: center;
    height: 100vh;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;

    margin-top: 30px; /* Center the text */
  }

  .navbar-nav {
    justify-content: center; /* Center the items horizontally */
    width: 100%; /* Make navbar items take full width */
  }
}

/* BTN */
.btn {
  font-weight: 700;
  font-size: 20px;
  border-radius: 20px;
  padding: 10px 24px;
}

.btn-brand {
  background-color: var(--c-brand-light);
  border-color: var(--c-brand);
  color: var(--c-body);
}

.btn-brand:hover {
  background-color: var(--c-brand-light);
  border-color: var(--c-brand-light);
  color: var(--c-body);
}

/* HERO */
#hero {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: none; /* Remove any background image or gradient */
  position: relative;
  z-index: 1;
}

/* Video styling */
#hero-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

/* Ensure your text stays above the video */
#hero .container {
  position: relative;
  z-index: 2;
}

/* Optional: Gradient overlay */
#hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  z-index: 0;
}

/* SECTION TITLE */
.section-title {
  margin-bottom: 60px;
}

.section-title .line {
  width: 60px;
  height: 4px;
  background-color: var(--c-brand);
  margin: 16px auto 24px auto;
}

.section-title p {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* ICONBOX */
.iconbox {
  width: 70px;
  height: 70px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: rgba(var(--c-brand-rgb), 0.1);
  color: var(--c-brand);
  font-size: 34px;
  flex: none;
}

/* SERVICE */
.service {
  position: relative;
  overflow: hidden;
  z-index: 2;
}

.service::after {
  content: "";
  width: 40px;
  height: 40px;
  background: rgba(var(--c-brand-rgb), 0.2);
  position: absolute;
  bottom: 0;
  right: 0;
  transition: var(--transition);
}

.service:hover::after {
  width: 100%;
  height: 100%;
  background: var(--c-brand);
  z-index: -1;
}

.service:hover h5,
.service:hover p {
  color: white;
}

.service:hover .iconbox {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}

/* REVIEW */
.review small {
  font-weight: 600;
  text-transform: uppercase;
  color: var(--c-brand);
}

.review-head {
  position: relative;
}

.review-head::after {
  content: "";
  width: 28px;
  height: 28px;
  position: absolute;
  bottom: -14px;
  background-color: white;
  transform: rotate(45deg);
}

/* TEAM */
.team-member-content {
  background-color: var(--c-brand);
  position: absolute;
  bottom: -24px;
  left: 50%;
  width: calc(100% - 50px);
  transform: translateX(-50%);
  padding: 24px;
  transition: var(--transition);
  opacity: 0;
}

#team img {
  width: 400px;
  height: 500px;
  border-radius: 10px;
}

.team-member:hover .team-member-content {
  opacity: 1;
  bottom: 24px;
}

/* CONTACT */
#contact {
  position: relative;
  z-index: 2;
}

#contact::after {
  content: "";
  width: 100%;
  height: 70%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/image.jpg);
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#contact .form-control {
  border-radius: 10px;
}

#contact .form-control:focus {
  box-shadow: none;
  border-color: var(--c-brand);
}

/* Sign Up Form */
.modal {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  align-items: center;
  justify-items: center;
}

.modal-content {
  background-color: #fff;
  margin: 5% auto; /* 15% from the top and centered */
  padding-top: 80px;
  padding-bottom: 50px;
  padding-left: 120px;
  padding-right: 120px;
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
  border-radius: 10px;
}

@media (max-width: 768px) {
  .modal-content {
    padding: 20px; /* Set padding to 20px on all sides */
    width: 90%; /* Optionally adjust width for mobile */
  }
}

.close {
  color: #aaa;
  position: absolute;
  right: 40px;
  top: 5px;
  font-size: 40px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* FOOTER */
footer {
  padding-top: 120px;
}

.footer-top {
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-bottom {
  padding-top: 40px;
  padding-bottom: 40px;
}

footer li,
footer p,
footer a {
  color: rgba(255, 255, 255, 0.7);
}

footer ul {
  list-style: none;
  padding: 0;
}

footer .line {
  width: 40px;
  height: 4px;
  background-color: var(--c-brand);
  margin-top: 12px;
  margin-bottom: 24px;
}

.social-icons a {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100px;
}

.social-icons a:hover {
  background-color: var(--c-brand);
  color: white;
}
